/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles for the Login, Signup, and Change Password Pages */
.login-container,
.signup-container,
.change-password-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-container h2,
.signup-container h2,
.change-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.signup-container input[type="text"],
.change-password-container input[type="text"],
.login-container input[type="password"],
.signup-container input[type="password"],
.change-password-container input[type="password"],
.signup-container input[type="email"],
.login-container input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button,
.signup-container button,
.change-password-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}

.login-container button:hover,
.signup-container button:hover,
.change-password-container button:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    font-weight: bold;
}

/* Styles for the Game Page */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 24px;
}
